/*-------------- General --------------*/
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}





/*--------- Liste des serveurs --------*/
.servlist {
    background: #1e1f22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 72px;
}

.servlist nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    scrollbar-width: none;
    overflow-y: auto;
}

.servlist nav > * {
    margin-bottom: 8px;
}

.servlist a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.servlist a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 48px;
    left: 0;
    top: auto;
    padding: 0 2px;
    margin: auto;
}

.servlist span {
    width: 0;
    position: absolute;
    left: 0;
    top: auto;
    margin: auto;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.servlist a:hover span {
    padding: 20px 2px;
}

.select span {
    padding: 20px 2px;
}

.ping span {
    padding: 5px 2px;
}

.servlist a:hover .select span {
    margin: 5px 0;
}

.span i {
    background-color: #5864ea;
} 



/****************************************************************************/

i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 27px;
    background-color: #313338;
    color: #f3f3f3;
    border-radius: 50px;
}

i:hover {
    background-color: #5864ea;
    border-radius: 15px;
}

.headsepa {
    background-color: #313338;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1px 16px;
    border-radius: 50px;
}




















































.servlist a:hover {
    filter: brightness(100%);
}



.servlist div {
    width: 4px;
}



.servlist a img {
    width: 3rem;
    height: auto;
    border-radius: 50px;
}

.servlist a:hover img {
    border-radius: 15px;
}

.servlist footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 13px 0;
}



/*-------------- A trier à la fin --------------*/



main {
    background-color: red;
    width: 100%;
}

aside {
    background-color: green;
    display: flex;
}

img {
    border-radius: 50px;
    width: 80px;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
}



aside section {
    width: 240px;
}




/*-------------- ancien css --------------*/
/*-------------- ancien css --------------*/
/*-------------- ancien css --------------*/
/*-------------- ancien css --------------*/
/*-------------- ancien css --------------*/



/********************************************************\
]                        GENERAL                         [
\********************************************************//*



a:hover {
    filter: brightness(150%);
}

body {
    background-color: #313338;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/********************************************************\
    ]                   LISTE DES SERVEURS                   [
    \********************************************************//*



/********************************************************\
    ]                     LISTE DES SALONS                   [
    \********************************************************//*

.salonlist {
    display: flex;
    flex-direction: column;
    position: static;
    overflow-y: hidden;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    height: 592px;
    width: 15rem;
    color: white;
    background-color: #2c2d30;
    scrollbar-width: thin;
    scrollbar-color: #1e1f22 #2c2d30;
}

.salonlist:hover {
    overflow-y: auto;
}

.salonlist hr {
    color: #3a3c42;
    border: #3a3c42 1px solid;
    margin: 10px;

}

.salonlist a {
    display: flex;
    color: #949ba4;
    margin: 1px 0;
    width: auto;
    padding: 4px;
    align-items: center;
}

.salonlist h3 {
    margin: 0;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 500;
}

.salonlist a:hover {
    color: #ffffff;
    background-color: #3a3c42;
    border-radius: 3px;
}

.salonlist img {
    height: 20px;
}

.salonlist button {
    display: flex;
    flex-direction: row;
    background: none;
    color: #949ba4;
    border: none;
    width: auto;
    margin-top: 1rem;
    text-align: left;
    padding: 2px 0;
}

.salonlist button img {
    height: 10px;
    margin: auto 3px;
}

.salonlist button h3 {
    margin: auto 1px;
    font-size: 13px;
    font-weight: bold;
}

.salonlist button text {
    margin: auto 1px;
    font-size: 13px;
    font-weight: bolder;
}

.salonlist button:hover {
    color: #f2f3f5;
}

.caché {
    display: none;
}

.salonlistheader {
    background-color: #2c2d30;
    color: #ffffff;
    display: flex;
    align-items: center;
    top: 0;
    width: 14rem;
    height: 48px;
    font-size: 7px;
    padding-left: 1rem;
    margin-bottom: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.46);
}

.salonlistheader:hover {
    background-color: #313338;
}

.salonlistfooter {
    background-color: #232428;
    color: #ffffff;
    margin: 0;
    padding: 0;
    bottom: 0;
    font-size: 10px;
    height: 53px;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salonlistfooter a:hover {
    background-color: #3a3c42;
    border-radius: 3px;
}

.salonlistfooter img {
    height: 35px;
    margin: auto 0;
}

.para {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 35px;
    margin-right: 5px;
}

.para a {
    height: 22px;
    width: 22px;
    padding: 5px;
    margin: 2px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para img {
    height: 20px;
}

.para button {
    background: none;
    border: none;
    height: 32px;
    width: 32px;
    padding: 5px;
    margin: 2px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para button:hover {
    background-color: #3a3c42;
    border-radius: 3px;
}

.profil {
    display: flex;
    flex-direction: row;
    color: #f2f3f5;
    padding-right: 10px;
}

.profil img {
    border-radius: 50px;
    margin: auto 5px;
}

.profil h2 {
    margin: 2px 2px 0 0;
}

.profil p {
    margin: 0;
    color: #949ba4;
}

.etat {
    transition-duration: 250ms;
    height: 15px;
}

.name {
    height: 0;
    font-size: 0;
    transition-duration: 250ms;
}

.salonlistfooter:hover .name {
    height: 15px;
    font-size: inherit;
    transition-duration: 250ms;
}

.salonlistfooter:hover .etat {
    height: 0;
    font-size: 0;
    transition-duration: 250ms;
}




main {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: static;
    top: 0;
    padding: 3rem 0;
    margin: 0;
    background-color: #313338;
    height: 550px;
    overflow-y: auto;
    color: #f2f3f5;

    scrollbar-color: #1e1f22 #2c2d30;
}

main header {
    background-color: #2f3135;
    position: fixed;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 80%;
    height: 48px;
    font-size: 7px;
    padding-left: 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.46);
}

main header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 27px;
}

main header h1 {
    margin: auto 15px;
    font-size: 15px;
}

main header img {
    height: 23px;
}

.trait {
    padding-right: 0;
    background-color: #383a40;
    height: 30px;
    width: 2px;
    margin-right: 15px;
}

main header p {
    color: #a7acb3;
    font-size: 12px;
}

.rechercher {
    width: 134px;
    height: 14px;
    background-color: #1e1f22;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.rechercher img {
    height: 15px;
}

main header a {
    margin: auto 10px;
}

.ping {
    margin: 20px 0;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.msg {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.msg img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.msg div {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.msg .msgimg {
    padding: 5px 1rem;
    width: 40px;
}

.msg h2 {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    font-size: 15px;
}

.msg p {
    display: flex;
    margin: 0;
    align-items: center;
    line-height: 25px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #c0c2c5;
}

.msg div div {
    display: flex;
    flex-direction: row;
}

.msg div div p {
    font-size: 12px;
    margin: 0;
}

main footer {
    position: fixed;
    left: 311px;
    bottom: 0;
    right: 15px;
    height: 68px;
}

main footer img {
    height: 44px;
    width: 44px;
}

main footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #383a40;
    margin: 0;
    margin-left: 16px;
    left: 330px;
    bottom: 200px;
    height: 44px;
    border-radius: 10px;
}

main footer textarea {
    height: 20px;
    padding: 12px 0;
    width: 100%;
    border: none;
    resize: none;
    background-color: #00000000;
    color: #949ba4;
    font-size: 15px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
}

.croixrond {
    margin: 0 0.5rem;
}

textarea:focus {
    outline: none;
}

label {
    position: absolute;
    top: 10px;
    left: 75px;
    pointer-events: none;
    color: #999;
}

.textarea-container {
    margin: 0;
    left: 0;
    width: 100%;
}

.msg:hover {
    background-color: #2c2e31;
}

.container {
    position: relative;
}

.container hr {
    border: 1px solid #3e4046;
}

.centered-text {
    background-color: #313338;
    color: #c0c2c5;
    font-size: 11px;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pingpers {
    background-color: #2182d85d;
}
